<div class="chart2">
  <h3>Hours per Day</h3>
  <div class="hrsperday">
    <%= line_chart @task_durations, round: 2, zeros: true, xtitle: "Time", ytitle: "Hours Worked",
        colors: [ '#573BC9' ] %>
  </div>
</div>
