<div class="chart3">
  <h3 class="text-center">Labels</h3>
  <div class="labelpie">
    <%= pie_chart @labeltasks, donut: true, round: 2, zeros: true, colors: [ '#573BC9', '#573BC9', '#573BC9', '#573BC9' ] %>
  </div>
</div>
