<div class="chart4">
  <h3 class="text-center mb-4 text-black">Labels goal</h3>
  <div class="labelprogress">
    <% @labels.each do |label| %>
      <div class="skills">
        <div class="skill">
          <div class="skill-name"><%= label.name %></div>
            <div class="skill-bar">
            <div class="skill-per" per="<%= ((label.donetasksdur / (label.goal)) * 100).to_i %>%" style="max-width:<%= ((label.donetasksdur / (label.goal)) * 100).to_i %>%"></div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
