<div class="chart3">
  <h3 class="text-center">Labels</h3>
  <div class="labelpie">
    <%= pie_chart @labeltasks, donut: true, round: 2, zeros: true, colors: [ 'rgb(75,0,130)', 'rgba(87, 59, 201, 0.5)', 'rgba(148,0,211,0.3)', 'rgba(153,50,204,0.4)' ] %>
  </div>
</div>
