.container-queue {
  // background-color: #573BC9;
  height: 90%;
  width: 98%;
  border-radius: 2px;
  border: black 2px solid;
  box-shadow: 0 0 2px rgba(0,0,0,0.8);
  h1 {
    color: #573BC9;
  }
}

.container-tasks {
  // background-color: #573BC9;
  height: 90%;
  width: 98%;
  border-radius: 2px;
  h1 {
    color: #573BC9;
  }
}

.task-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 0;
  grid-gap: 0;
}

@media(max-width: 1100px) {
  .task-grid {
    grid-template-columns: auto auto auto;
  }
}

@media(max-width: 800px) {
  .task-grid {
    grid-template-columns: auto auto;
  }
}
