.section-h1 {
  padding: 128px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 20px;
  margin-right: 5px;

  h1 {
    line-height: 1.2em;
    font-weight: 500;
    font-size: 64px;
  }
}

.container-w-container {
  padding-bottom: 100px;
}

.aligned-right {
  text-align: right;
}

.container.border-top {
  border-top: 1px solid #000;
}
.container {
  position: relative;
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  // grid-area: 2 / 1 / span 2 / span 3;
}

.card {
  height: 200px;
  background-color: white;
  width: 100%;
  border-color: black;
  columns: 200px 200px;
  text-align: center;
  padding: 20px;
  font-family: "Segoe UI";
}

.card1 {
  background-color: black;
}
