// Specific CSS for your home-page
.vertical {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

#japanese-title {
  // font-family: ;
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 40px;
    color: black;
  }
}

.title-segoe {
  font-family: 'Segoe UI';
  font-size: 64px;
}

.purple-text {
  color: #573BC9;
}

.light-subtitle {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: rgba(0,0,0,0.6);
}
