.tasksecs {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  // text-align: center;
  padding: 5px;
  margin-top: 50px;
  text-align: center;

}

.taskmins {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 10px;
  // font-weight: lighter;
  // text-align: center;
  // padding-bottom: 30px;
  margin-top: 50px;
  text-align: center;


}

.labels1 {
  text-align: center;
  font-weight: lighter;
  // padding-bottom: 90px;
  color: white;
  pointer-events: none;
  background-color: rgba(87, 59, 201, 0.8);
  border: none;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 13px;
  margin-left: -1px;
  // margin-bottom: 10px;
  border-radius: 100px;
  // margin-top: -22px;
}

.work_info_title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // color: #573BC  9;
  color: black;
  // font-weight: bolder;
  margin-top: 120px;
  margin-bottom: -30px;
  font-size: 45px;


}

.time {
  display: inline-flex;
  margin-bottom: -20px;
}
