.tasksecs  {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  // text-align: center;
  // padding: 20px;
}

.taskmins {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  // text-align: center;
  // padding-bottom: 30px;

}

.labels1 {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 90px;
  color: gray;
}

.work_info_title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  // color: #573BC  9;
  color: #573BC9;


}

.time {
  display: inline-flex;


}
