.card-timebox {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  color: #000;
  height: 95%;
  border-radius: 25px;
  box-shadow: 0 0 26px rgba(0,0,0,0.8);
  h1 {
    color: #573BC9;
  }
}
