 <%# FORM %>

          <%= simple_form_for(@task) do |f| %>

            <div class="form-inputs">
              <%= f.input :title %>
              <%= f.input :minutes %>
              <%= f.input :seconds %>
            </div>
            <% end %>
