<div class="mx-20 mt-10 mb-20">
  <h1 class="purple-text mb-8">Statistics</h1>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-6 lg:gap-8">
    <div class="col-span-2 bg-white rounded-xl p-10">
      <%= render "tasks/graphs/hours_per_day" %>
    </div>
    <div class="bg-white rounded-xl p-6">
      <%= render "tasks/graphs/labels_progress_bar" %>
    </div>
    <div class="col-span-2 bg-white rounded-xl p-10">
      <%= render "tasks/graphs/hours_per_label" %>
    </div>
    <div class="bg-white rounded-xl p-6">
      <%= render "tasks/graphs/labels_comparison" %>
      <p> </p>
    </div>
  </div>
</div>
