<div class="full-height mt-3">
  <div class="red d-flex justify-content-center h-100">
    <div class="row blue" style="width: 90vw; height: 100vh">
      <div class="d-flex flex-column">
        <div class="row w-100">
          <div class="red col-12 my-3">
            <div class="d-flex flex-row">
              <div class="col-8 green">
                <h1 class="purple-text">Statistics</h1>
                <%= render "tasks/graphs/hours_per_day" %>
              </div>
              <div class="col-4 green my-5">
                <%= render "tasks/graphs/labels_progress_bar" %>
              </div>
            </div>
          </div>
          <div class="red col-12 my-3">
            <div class="d-flex flex-row">
              <div class="col-8 green">
                <%= render "tasks/graphs/hours_per_label" %>
              </div>
              <div class="col-4 green">
                <%= render "tasks/graphs/labels_comparison" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <h1 class="purple-text">Statistics</h1> %>
