
<div class="tests-container">
  <!--   First test -->
  <div class="test-container">
    <div class="test">
      <div class="front">
<img src="https://api.adorable.io/avatars/150/1">
          <br>
          <br>
        <h3>Manage
          <br>
        your
          <br>
        Goals</h3>
      </div>
      <div class="back">
<img src="https://api.adorable.io/avatars/150/2">
          <br>
          <br>
         <p>Break
         <br>
         Your
         <br>
         Goals Into
         <br>
          Smaller Goals</p>
      </div>
    </div>
  </div>

<!--   Second test -->
  <div class="test-container">
    <div class="test">
      <div class="front">
<img src="https://api.adorable.io/avatars/150/3">
        <br>
         <br>
        <h3>Set
        <br>
        your
          <br>
         Schedule
         <br>

         </h3>
      </div>
      <div class="back">
<img src="https://api.adorable.io/avatars/150/4">
        <br>
        <br>
         <p>
         Kinoko is a goal-oriented app
         <br>
         that increase productivity and
         <br>
          reduce procrastination
         </p>
      </div>
    </div>
  </div>

  <!--   Third test -->
  <div class="test-container">
    <div class="test">
      <div class="front">
<img src="https://api.adorable.io/avatars/150/6">
        <br>
        <br>
        <h3>Track
        <br>
        your
        <br>
        Progress
        </h3>
      </div>
      <div class="back">
<img src="https://api.adorable.io/avatars/150/5">
        <br>
        <br>
        <br>
         <p>
        Data collection
        <br>
        will show
         <br>
        your overall progress
        <br>
       </p>
      </div>
    </div>
  </div>

  <%# <!--   Fourth test -->
  <div class="test-container">
    <div class="test">
      <div class="front">
<img src="https://api.adorable.io/avatars/150/8">
      </div>
      <div class="back">
<img src="https://api.adorable.io/avatars/150/7">
      </div>
    </div>
  </div>

  <!--   Fifth test -->
  <div class="test-container">
    <div class="test">
      <div class="front">
<img src="https://api.adorable.io/avatars/150/9">
      </div>
      <div class="back">
<img src="https://api.adorable.io/avatars/150/10">
      </div>
    </div>
  </div>
</div> %>
