<div class="icon" tabindex="0">
  <span class="icon__infoicon">
    <i class="fas fa-hashtag"></i>
  </span>
  <p class="icon__title">Label</p>
  <p class="icon__description">12345</p>

  <%# <p class="icon__credits">Thanks <a class="card__reference" href="https://www.youtube.com/channel/UCVyRiMvfUNMA1UPlDPzG5Ow">Gary Simon</a> for the inspiration</p> %>
</div>
