<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">KinoKo</a>


<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </a>
</nav>
