
 <div class="container">
    <div class="navegation">
      <ul>
        <li>
          <span class="icon"></span>
          <span class="title"><h2>Kinoko</h2></span>
        </li>
        <li>
          <span class="icon"></span>
          <span class="title">Dashboard</span>
        </li>
        <li>
          <span class="icon"></span>
          <span class="title">Task</span>
        </li>
        <li>
          <span class="icon"></span>
          <span class="title">Action</span>
        </li>
      </ul>
    </div>
  </div>
