<div class="skills">
  <div class="skill">
    <div class="skill-name">Progress Bar</div>
      <div class="skill-bar">
      <div class="skill-per" per="90%" style="max-width:90%"></div>
      </div>
  </div>
</div>
