<%# <div class="main-body">
  <div class="cards ">
    <div class="card mt-4">
      <div class="front">
          <h1>BE</h1>
      </div>
      <div class="back">
        <div class="details">
          <h1> ddjfbvkjdfbfk</h1>
        </div>
      </div>
    </div>




    <div class="card">
      <div class="front">
          <h1>BE</h1>
      </div>
      <div class="back">
        <div class="details">
          <h1> ddjfbvkjdfbfk</h1>
        </div>
      </div>
    </div>




      <div class="card mt-4">
        <div class="front">
            <h1>BE</h1>
        </div>
        <div class="back">
          <div class="details">
            <h1> ddjfbvkjdfbfk</h1>
          </div>
        </div>
      </div>
  </div>
</div> %>
