<div class="timer__items">
  <span>0</span><span class="timer__min"><%= timebox.minutes %></span>
  <span>:</span>
  <% if timebox.seconds < 10 %>
    <span>0</span>
  <% end %>
  <span class="timer__sec"><%= timebox.seconds %></span>
</div>
