<div class="timer__items">
  <span class="timer__min" data-done=""><%= format('%02d', timebox.minutes) %></span>
  <span>:</span>
  <span class="timer__sec" data-done=""><%= format('%02d', timebox.seconds) %></span>
</div>
