<div class="skills max-w-[400px]">
  <div class="skill">
    <div class="skill-name"></div>
      <div class="skill-bar">
      <div class="skill-per" per="0%" style="max-width:0%"></div>
      </div>
      <p class="tasksecss" data-tasksecs="<%= @work_session.task.duration %>" hidden></p>
  </div>
</div>
