<div>
  <span class="timer-min" data-done=""><%= format('%02d', timebox.minutes) %></span>
  <span>:</span>
  <span class="timer-sec" data-done=""><%= format('%02d', timebox.seconds) %></span>
</div>
