<div class="red d-flex align-items-center justify-content-center" style="height: 25%">  <%# This height might be wrong because there is no defined height for parent %>
  <div class="btn btn-info ml-3 play-button">
  <%# just testing it on this clean button %>
    Play
  </div>
  <%= link_to "Stop", work_session_path(@work_session), class: "btn btn-danger ml-3 stop-button" %>
</div>
<div class="red d-flex align-items-center justify-content-center" style="height: 50%">  <%# This height might be wrong because there is no defined height for parent %>
  <%# <h1>Progress Bar</h1> %>
<%= render 'shared/progress_bar', work_session: @work_session %>
</div>
<div class="red d-flex align-items-center justify-content-center" style="height: 25%">  <%# This height might be wrong because there is no defined height for parent %>
  <div id="doneTask">
    <%= link_to 'Mark as done', "/work_sessions/#{@work_session.id}/task/#{@work_session.task.id}", class: "btn btn-primary", method: :patch %>
  </div>
</div>
