<div class="h-screen flex mx-20" id="work-session">
    <div class="basis-1/2 flex flex-col justify-center items-center">
          <%= render "work_session_task_info" %>
    </div>

    <div class="basis-1/2 flex flex-col justify-center items-center">
          <%= link_to "Back", "/dashboard", class: "btn btn-primary" %>
          <button type="button" class="btn btn-primary mx-4" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
            Add
          </button>

          <div class="timeboxes-list">
            <%= render "timeboxes" %>
            <%# render "timeboxes/form" %>
          </div>
    </div>
</div>

<%= audio_tag "shien.mp3", id: "shien" %>
