<div class="green d-flex justify-content-center align-items-start" style="height: 100%">
  <div class="container-tasks ml-4">
    <div class="blue d-flex flex-column" style="height: 100%"> <%# This height might be wrong because there is no defined height for parent %>
      <div class="d-flex justify-content-between" style="width: 100%">
        <div>
          <h1 class="mb-2">Tasks</h1>
        </div>
        <div class="d-flex align-items-center mr-5">
          <div class="btn btn-light mr-4 mb-0" data-toggle="modal" data-target="#exampleModalCenter">
            Add Task
          </div>
        </div>
        <%= render "tasks/new_modal", task: @task %>
      </div>
      <div class="task-grid">
        <% @tasks.each do |task| %>
          <%= render "tasks_card", task: task %>
        <% end %>
      </div>
    </div>
  </div>
</div>
