<div class="grid grid-cols-2 lg:mr-96 lg:ml-52 mt-12">
  <div class="">
    <div class="small-orb ml-48"></div>
  </div>

  <div class=" flex items-center">
    <%= link_to root_path, style: "text-decoration: none" do %>
      <h1 style="font-size: 110px"><span style="color: #573BC9">Ki</span>noko</h1>
    <% end %>
  </div>
</div>
