<div class="mx-20">

       <div class="flex justify-between">
          <h1 class="purple">Tasks</h1>

          <button class="btn" data-toggle="modal" data-target="#exampleModalCenter">
            Add Task
          </button>
       </div>
      <div class="grid grid-cols-2 lg:grid-cols-4">
        <% @tasks.each do |task| %>
          <%= render "tasks_card", task: task %>
        <% end %>
      </div>

</div>
<%# render "tasks/new_modal", task: @task %>
