    <div class="col-9 green d-flex justify-content-center align-items-center" style="height: 100%">
      <div class="container-purple">
        <div class="blue d-flex justify-content-between px-4" style="height: 15%"> <%# This height might be wrong because there is no defined height for parent %>
          <h1>Tasks</h1>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Create a Task
          </button>
          <%= render "tasks/new_modal", task: @task %>
        </div>
        <div class="blue d-flex justify-content-around" style="height: 85%"> <%# This height might be wrong because there is no defined height for parent %>
          <div class="container-dark-purple">
            <div class="task-grid">
              <% @tasks.each do |task| %>
                <%= render "tasks_card", task: task %>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    </div>
