<div class="col-3 green d-flex justify-content-center align-items-center" style="height: 100%">
  <div class="container-queue mr-4">
    <div class="slider">
      <h1 class="text-center mt-4">Queue</h1>
    </div>
  </div>
</div>
