<div class="task-card bg-white p-4">

    <div class="flex justify-between">
      <h5 class ="font-semibold text-xl text-black">
        <%= task.title %>
      </h5>
      <%# render "dropdown_menu", task: task %>
    </div>

    <% task.labels.each do |label| %>
      <p class="font-light text-black">
        #<%= label.name %>
      </p>
    <% end %>


    <div class="flex justify-between items-center mt-12">
      <p class="text-black">
        <%= task.minutes %> mins
      </p>

      <%= link_to work_session_path(task.work_session), class: "btn btn-secondary" do %>
        Start Timebox
      <% end %>
    </div>


</div>


<%# render "tasks/edit_modal", task: task %>
