<div class="full-height">
  <div class="d-flex flex-column align-items-stretch justify-content-stretch h-100">
    <%= render "dashboard_top" %>
    <div class="dash-bottom red d-flex justify-content-center align-items-center" style="height: 30%">
      <div class="container-white">
        <div class="slider">
          <div class="ml-4">
            <h1 class="mt-1">Statistics</h1>
            <h3>Programming: 1 hour</h2>
            <h3>Korean: 1 hour</h2>
            <h3>Find purpose: it's a life long journey</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
