<%# Dashboard Top %>

<div class="flex items-center justify-center mt-12">
  <div class="flex items-center">
    <div class="small-orb"></div>
  </div>

  <div class="flex items-center ml-8">
    <%= link_to root_path, style: "text-decoration: none" do %>
      <h1 style="font-size: 110px"><span style="color: #573BC9">Ki</span>noko</h1>
    <% end %>
  </div>
</div>


<%# Dasboard Bottom %>

<div class="mx-20">

       <div class="flex justify-between">
          <h3 class="purple">Tasks</h3>

          <a href="#my-modal-2" class="btn">open modal</a>

          <div class="modal" id="my-modal-2">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Congratulations random Interner user!</h3>
              <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
              <div class="modal-action">
              <a href="#" class="btn">Yay!</a>
              </div>
            </div>
          </div>
       </div>

       <%# Grid %>

      <div class="mt-8 grid gap-4 grid-cols-2 lg:grid-cols-4">
        <% @tasks.each do |task| %>
          <%= render "tasks_card", task: task %>
        <% end %>
      </div>

</div>
