
<div class="section-h1">
  <div class="container-w-container">
    <h1>Time <span class="serif">Boxing,</span><span class="serif"></span></h1>
    <h1 class="aligned-right"><span class="serif">Extraordinary</span> results<span class="serif"></span></h1>
  </div>
  <div class="section-2">
    <%# <div class="container border-top w-container">
      <div class="body-left-columnbody-left-column"> %>
      <%# <div class="card"></div> %>
      <%# <div class="card"></div> %>
      <%# <div class="card"></div> %>
      <div class="card"><h4>Tasks</h4>
        <h5>Create tasks that along with  </h5>
      </div>
      <div class="card"><h4>Labels</h4>
        <h5>Labels will allow you to</h5>
      </div>
      <div class="card"><h4>TimeBox</h4>
        <h5></h5>
      </div>
      <div class="card1">black</div>
      <div class="card"></div>
      <%# <div class="card"></div> %>

      </div>
    </div>
  </div>
</div>
