<div class="full-height d-flex align-items-center justify-content-center">
  <div class="blue d-flex" style="width: 80%">
    <div class="red d-flex flex-column justify-content-around" style="width: 50%">
      <div>
        <h1 class="title-segoe text-center">
          <span class="purple-text">Kinoko.</span> Productivity. For what you love.
        </h1>
      </div>
      <p class="light-subtitle ml-5">
        Have the flexibility to work the way you do. A timeboxing app.
      </p>
      <div class="d-flex justify-content-end mr-5">
        <%= link_to "I want to start working", dashboard_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="red d-flex justify-content-center" style="width: 50%">
      <div class="orb">
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>

<% else %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary login-position d-none" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary sign-up-position d-none" %>
<% end %>
