<div class="page-container">
  <div class="full-height">
    <div class="d-flex flex-column align-items-stretch justify-content-stretch h-100">
      <div class="dash-top red" style="height: 70%">
        <div class="row" style="height: 70vh">
          <div class="col-9 green d-flex justify-content-center" style="height: 100%">
            <div class="card-purple">
                <h1>Tasks</h1>
            </div>
          </div>
          <div class="col-3 green" style="height: 100%">
            <div class="card-purple">
              <h1>Shopping list</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-bottom red" style="height: 30%">
        <div class="card-white">
          <h1>Statistics</h1>
        </div>
      </div>
    </div>
  </div>
</div>
