<div class="full-height d-flex align-items-center justify-content-center">
  <div class="blue" style="height: 50%; width: 50%">
    <div class="vertical red d-flex align-items-center justify-content-center" style="height: 80%">
      <h1>
        <ruby>茸<rt>きのこ</rt></ruby>
      </h1>
    </div>
    <div class="red d-flex align-items-center justify-content-center" style="height: 20%">
      A timeboxing app
    </div>
  </div>
</div>
