<div class="full-height d-flex align-items-center justify-content-center">
  <div class="blue d-flex" style="width: 80%">
    <div class="red d-flex flex-column justify-content-around" style="width: 50%">
      <div>
        <h1 class="title-segoe">
          <span class="purple-text">Ki</span>noko. Productivity.<br><span style="font-size:56px">For what you love.</span>
        </h1>
      </div>
      <p class="light-subtitle">
        Have the flexibility to work the way you do. A timeboxing app.
      </p>
      <div class="d-flex justify-content-end mr-3 mt-5">
        <%= link_to "I want to start working", dashboard_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="red d-flex justify-content-center" style="width: 50%">
      <div class="orb">
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>

<% else %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary login-position d-none" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary sign-up-position d-none" %>
<% end %>
