<div class="forest" data-duration="<%= @total_duration %>" id="mushroom-forest">
  <h1 id="murmur">You hear the sounds of the kinoko in the distance</h1>
  <button class="btn" id="grow-forest">Poke the mushroom</button>
</div>

<style>
  .main.active {
    overflow-y: hidden
  }
</style>
