.btn-ghost-post {
  background-color: black;
  color: white;
  border: 1px solid #FFFF;
  padding: 0.45rem 0.45rem;
  border-radius: 0px;
  font-weight: lighter;
  opacity: 1;
  transition: all 0.3s ease;
  // display: inline-block;
  font-family: monospace;
}

.btn-ghost-post:hover {
  font-family: monospace;
  background-color: #573BC9;
  color:white;
  opacity: 1;
}

.btn-light {
  border: 1px solid black;
}

.btn-primary {
  font-weight: lighter;
  // margin-left: 140px;
  // margin-bottom: 15px;
  // margin-right: 20px;
  // margin-top: 2px;
}

.btn1-primary {
  font-weight: lighter;
  // margin-left: 140px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-top: 2px;
}

.btn1-primary {
  border: 1px solid black;
  background-color: black;
  color: white;
  cursor: none;

}
.btn1-primary:hover {
  color: white;

}
