.task-card {
  position: relative;
  border-radius: 8px;
  border: 2px solid #000;
  animation: grow 1.5s ease;
}

.task-card .btn {
  animation: appear 1.5s ease;
}

@keyframes grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
