.backborders {
  height: 150px;
  width: 300px;
  margin: 16px 8px 0;
  padding: 0;
  border-radius: 2px;
  border: 2px solid #000;
}

.card-task {
  height: 150px;
  width: 300px;
  position: relative;
  margin-top: -2px;
  margin-left: -2px;
  background-color: #FFFFFF;
  color: #000;
  border-radius: 2px;
  border: 2px solid #000;
}

.card-task:hover{
  transform: translate(10px,10px);
  transition: 0.3s ease;
}

.snake-border:hover {
  content: "";
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform .6s cubic-bezier(.19,1,.22,1);
}
