.card-task {
  height: 150px;
  width: 300px;
  margin-top: 20px;
  margin-left: -2px;
  background-color: #FFFFFF;
  color: #000;
  border-radius: 8px;
  border: 2px solid #000;
  animation: appear 1.5s ease;
  position: relative;

  p {
    font-weight: lighter;
    margin-top: 2px;
    margin-bottom: 0;
  }

  h5 {
    margin-top: 2px;
  }

  h6{
    font-weight: lighter;
    font-size: 14px;

  }
}

@keyframes appear {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 150px;
  }
}
