@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Zen+Kurenaido&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'oswald'
}

body{
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}
