// .progress-container {
//   margin: 0;
//   padding: 0;
//   font-family: sans-serif;
//   box-sizing: border-box;
// }

// .progress-bar{
//   min-height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: black;
// }

.skills {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-per {
  height: 14px;
  background-color: purple;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-bar {
  height: 14px;
  background-color: black;
  border-radius: 3px;
}

.skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  top: -20px;
  right: 0;
}

@keyframes fillBars{
  from{
    width:0;
  }

  to{
    width: 100%;
  }
}

