// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin-top: 1rem;
}
.container-timer {
  max-width: 200px;
  margin: 0 auto;
}
.timer {
  background: white;
  height: 100%;
}
.timer__header {
  text-align: center;
  color: black;
  text-decoration: underline;
}
.timer__body {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.timer__day,
.timer__hour,
.timer__min,
.timer__sec {
  font-size: 1rem;
  text-align: center;
  color: black;
  border-radius: 48%;
  border: 1px dashed black;
  padding: 1rem;
}
.timer__label {
  color: black;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.timer__item1 {
  width: 50%
}

.timer__item2 {
  width: 50%
}
