// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: $black;
}

.full-height {
  height: 95vh;
}

.page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  // overflow: hidden;
}

// this comes from the navbar, it's the div for everything next to the navbar
.main.active {
  width: calc(100% - 60px);
  left: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
}
