@tailwind base;
@layer base {
  h1 {
    @apply text-white text-6xl font-medium;
  }

  h2 {
    @apply text-white text-5xl font-medium;
  }

  h3 {
    @apply text-white text-4xl font-medium;
  }

  h4 {
    @apply text-white text-3xl font-medium;
  }

  h5 {
    @apply text-white text-2xl font-medium;
  }

  p {
    @apply text-white text-base;
  }
}

@tailwind components;

@layer components {
  .form-inputs .form-control-file {
    border: 0;
    color: white;
  }

  .form-inputs input,
  textarea {
    color: black;
    @apply border border-gray-300 rounded-lg
    shadow-sm focus:outline-none focus:border-cyan-500
    focus:ring-1 focus:ring-cyan-500;
  }

  .form-select {
    @apply text-black border-gray-300 rounded-lg
    shadow-sm focus:outline-none focus:border-cyan-500
    focus:ring-1 focus:ring-cyan-500;
  }

  .form-inputs .form-check-input {
    @apply h-1 w-1 py-2 px-2 mr-2 text-cyan-400 rounded;
  }

  .form-inputs .form-check {
    @apply mt-2 flex items-center;
  }
}

@tailwind utilities;
